@font-face {
  font-family: 'Burbank';
  src: url('@/assets/fonts/Burbank.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
*{margin: 0%; font-family: 'Poppins', sans-serif;}
:root {
    --primary: #9e7348;
    --secondary: #fed7a0;
    --complementary: #ff7808;
    --textcolor:#071922;
    --support:#869f5c;
    --light:#fff;  
  }
.header1 {
  font-size: 1.5rem;
    font-weight:600;
    color: var(--textcolor);
}
.header2{
    font-size: 1rem;
}
.header3{
    font-size: 0.9rem;
    color: var(--secondary);
}
.header4{
    font-size: 0.9rem;
    color: var(--light);
}
.header5{
    font-size: 0.8rem;
    font-weight:600;
    color: var(--complementary) !important;
}
.header6{
    font-size: 0.7rem;
}
.burbank {
    font-family: 'Burbank', sans-serif !important;
    font-size: 1.5rem;
}

.seccion_titulo{
    color: var(--complementary);
    font-size: 2rem;
}

.form-label{
    font-size: 0.7rem;
    color: var(--light);
}
.bg_container{
     background-color:rgb(254, 215, 160, 0.25)!important;
    border: 0px !important;
}
.text_btn{
    font-size: 1.2rem;
}

a:link, a:visited{
    text-decoration: none;
    color:var(--textcolor);
}
